* {
    margin: 0;
    padding: 0;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
}

body {
    width: 1280px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 90px;
}

.logo {
    color: black;
    float: left;
    font-size: 50px;
    line-height: 90px;
}

.blue {
    color: #4bcaff;
}

.upper-menu {
    display: inline-block;
    width:100% ;
    height: 40px;
    background-color: #35444f;
    line-height: 40px;
    text-align: center;
}

.upper-menu-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
}
.upper-menu-link:hover {
    background-color: #222f3a;
    border-left: 1px solid white;
    border-right: 1px solid white;

}

.side-menu {
    float: left;
    width: 350px;
    /*height: 900px;*/
    border: 1px solid  #aab1b6;
    margin-top: 30px;
    margin-right: 30px;
    box-sizing: border-box;

}

.side-menu-link {
    display: block;
    color: #aab1b6;
    text-decoration: none;
    padding: 15px;
}

.side-menu-link:hover {
    background-color: #dbdbdb;
    color: black;
    padding-left: 20px;
}
.content {
    width: 100%;
    height: 900px;
}
.main-content {
    float: right;
    width: 900px;
}

.main-content-img {
    width: 100%;
    height: 550px;
    border: 1px solid  #aab1b6;
    margin-top: 30px;

}
.main-content-text {
    padding-top: 20px;
}

footer {
    clear: both;
    width: 100%;
    height: 40px;
    background-color: #b4b7ba;
}
.footer-menu {
    float: left;

}
.footer-menu-link {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}

.footer-copyright {
    float: right;
}




